<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4" >
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

      <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>

    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  <% else %>
<div class="center jumbotron">
  <h1>Welcome to the Product Listing</h1>

  <h2>Now List Your Product<%= link_to "Get Started", login_url %>Product application.</h2>
  <%= link_to "Sign up now!", signup_url, class: "btn btn-lg btn-primary" %>
</div>
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Product 1</div>
                        <div class="banner-img">
                            <img src="http://via.placeholder.com/640x360" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>STARTS</strong> 12:30 JAN 2015
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>ENDS</strong> 14:30 JAN 2015
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>
                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">View</a>
                            <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Product 2</div>
                        <div class="banner-img">
                            <img src="http://via.placeholder.com/640x360" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>STARTS</strong> 12:30 JAN 2015
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>ENDS</strong> 14:30 JAN 2015
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">View</a>
                            <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Product 3</div>
                        <div class="banner-img">
                            <img src="http://via.placeholder.com/640x360" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>STARTS</strong> 12:30 JAN 2015
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>ENDS</strong> 14:30 JAN 2015
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">View</a>
                            <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="tile">
                    <div class="wrapper">
                        <div class="header">Product 4</div>

                        <div class="banner-img">
                            <img src="http://via.placeholder.com/640x360" alt="Image 1">
                        </div>

                        <div class="dates">
                            <div class="start">
                                <strong>STARTS</strong> 12:30 JAN 2015
                                <span></span>
                            </div>
                            <div class="ends">
                                <strong>ENDS</strong> 14:30 JAN 2015
                            </div>
                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="stats">

                            <div>
                                <strong>INVITED</strong> 3098
                            </div>

                            <div>
                                <strong>JOINED</strong> 562
                            </div>

                            <div>
                                <strong>DECLINED</strong> 182
                            </div>

                        </div>

                        <div class="footer">
                            <a href="#" class="Cbtn Cbtn-primary">View</a>
                            <a href="#" class="Cbtn Cbtn-danger">Delete</a>
                        </div>
                    </div>
                </div> 
            </div>
</div>
<% end %>