<table cellpadding="5" cellspacing="0">
  <% for product in @products %>
    <tr valign="top">

      <td>
        <img src="<%= product.images %>"/>
      </td>

      <td width="450">

        <h3><%= product.title %></h3>

        <small>
          <%= product.categories %>
        </small>

        <br/>

        <strong>$<%= sprintf("%0.2f", product.pro_price) %></strong>

        <%= link_to ' Add to Cart ' ,
                    :action => 'add_to_cart',
                    :id => product
        %>

        <br/>
      </td>

    </tr>
    <tr>
      <td colspan="2"><hr/></td>
    </tr>
  <% end %>
</table>

